.login-outer{
    background-color: rgb(0, 0, 0);
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-card{
    background-color: rgb(182, 182, 182);
    height: 50vh;
    width: 50%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-textfield{
    height:7vh;
    width: 80%;
    margin: 2vh;
    border-radius: 20px;
    outline: none;
    border: 0;
    /* padding-left: 5vh; */
    font-size: 12pt;
    letter-spacing: 2px;
    text-align: center;
}
.login-button{
    height: 7vh;
    width: 80%;
    background-color: rgb(53, 174, 53);

    margin: 2vh;
    border-radius: 20px;
    border: 0;
    letter-spacing: 2px;
    cursor: pointer;
}