.admin-dashboard-boat-info{
    height: 35vh;
    width: 90%;
    margin: 5%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.admin-dashboard-boat-count{
    width: 30%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-dashboard-boat-count-value{
    width: 50%;
    /* background-color: white; */
    color: rgb(47, 47, 47);
    font-size: 90pt;
}
.admin-dashboard-boat-count-desc{
    width: 50%;
    font-size: 20pt;
    color: rgb(59, 59, 59);
    /* background-color: yellow; */
}