.admin-dashboard-outer{
    height: 100vh;
    width: 100%;
    display: flex;
}
.admin-dashboard-main{
    height: 100vh;
    width: 80%;
    background-color: rgb(206, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-dashboard-sidebar{
    height: 100vh;
    width: 20%;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: column;
}
.admin-dashboard-logo{
    height: 10vh;
    width: 94%;
    background-color: white;
    margin-top: 2%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    font-weight: bold;
    margin-bottom: 5vh;
}
.admin-dashboard-sidebar-content{
    height: 6vh;
    width: 94%;
    background-color: rgb(255, 255, 255);
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 10%;
    font-size: 15pt;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 10px;
    color: rgb(61, 61, 61);
}
.admin-dashboard-sidebar-content:hover{
    background-color: rgb(158, 158, 158);
    cursor: pointer;
}