.boat-house-outer{
    height: 88vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.boat-house-left{
    height: 80vh;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.boat-house-right{
    height: 80vh;
    padding: 3vh;
    box-sizing: border-box;
    width: 60%;
    overflow-y: scroll;
}
.boat-house-page-image-container{
    height: 65vh;
    width: 80%;
    background-color: rgb(0, 0, 0);
    background-image: url('https://i.pinimg.com/564x/7f/87/9b/7f879b0a7790bf62d57bb9a4999d0bbd.jpg');
    background-size: cover;
    background-position: 0% 60%;
}
.add-wishlist-button{
    height: 5vh;
    width: 80%;
    background-color: green;
    color:rgb(0, 55, 0);
    border-radius: 10px;
    font-size: 15pt;
    border: 0;
}
.book-now-button{
    height: 5vh;
    width: 80%;
    background-color: green;
    color: rgb(0, 55, 0);
    border-radius: 10px;
    font-size: 15pt;
    border: 0;
    margin-top:5vh;
}
.add-wishlist-button:hover, .book-now-button:hover{
    cursor: pointer;
}
.boat-house-desc{
    text-align: justify;
}

.boat-book-now-panel-outer{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
}
.boat-book-now-panel-box{
    width: 75%;
    background-color: white;
    font-size: 15pt;
    padding: 3vh;
    box-sizing: border-box;
}
.boat-book-now-panel-close-button{
    font-size: 15pt;
    border:0;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
    float: right;
    cursor: pointer;
    margin-bottom: 2vh;
}
.boat-book-now-panel-submit-button{
    height: 5vh;
    width: 13vh;
    border: 0;
    background-color: rgb(48, 155, 80);
    font-size: 13pt;
    border-radius: 20px;
    float: right;
    margin-top: 3vh;
    cursor: pointer;
}
.boat-book-now-panel-table{
    width: 100%;
}
.boat-book-now-panel-tr{
    width: 100%;
    height: 7vh;
}
.boat-book-now-panel-td:nth-child(1){
    width: 30%;
}
.boat-book-now-panel-td:nth-child(2){
    width: 60%;
}
.boat-book-now-panel-input{
    width: 100%;
    height: 4vh;
    padding: 2vh;
    box-sizing: border-box;
    outline: 0;
}