.site-settings-outer{
    height: 90vh;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5vh;
    overflow-y: scroll;
}
.site-settings-textarea{
    resize: none;
    height: 10vh;
    width: 100%;
    margin-top: 1vh;
}
.site-settings-heading-input-tag{
    width: 100%;
    height: 4vh;
    margin-top: 1vh;
}
.site-settings-label{
    margin-top: 1vh;
}
.site-settings-apply{
    width: 10%;
    height: 4vh;
}