.login-outer{
    background-color: rgb(255, 255, 255);
    height: 88vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}
.login-card{
    /* background-color: rgba(240, 240, 240, 0.5); */
    height: 50vh;
    width: 50%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.login-textfield{
    height:7vh;
    width: 80%;
    margin: 2vh;
    border-radius: 20px;
    outline: none;
    border: 1px solid black;
    /* padding-left: 5vh; */
    font-size: 12pt;
    letter-spacing: 2px;
    text-align: center;
    transition: 0.3s;
}
.login-textfield:focus, .login-textfield:hover{
    font-size: 15pt;
}
.login-button{
    height: 7vh;
    width: 100%;
    margin-top: 2vh;
    border-radius: 20px;
    border: 0;
    letter-spacing: 2px;
    cursor: pointer;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
}
.login-button:hover{
    font-size: 13pt;
}
.login-button-and-swap{
    width: 80%;
}
.swap-login-register{
    margin:0;
    text-align: left;
    margin-top: 2vh;
    padding-left: 1vh;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.user-or-admin{
    height: 7vh;
    width: 80%;
    /* background-color: black; */
    display: flex;
    border-radius: 20px;
    border: 1px solid black;
    margin: 2vh;
}
.login-user,.login-admin{
    height: 7vh;
    width: 50%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.login-user{
    border-right: 1px solid black;
    border-radius: 20px 0px 0px 20px;
}
.login-admin{
    border-radius: 0px 20px 20px 0px;
}
.login-user:hover, .login-admin:hover{
    font-size: 15pt;
}

