.admin-boat-view-outer{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: scroll;
}
.admin-boat-view-info{
    height: 50vh;
    width: 94%;
    margin: 3%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin-boat-view-bookings{
    width: 94%;
    min-height:80vh;
    margin: 3%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 2vh;
    box-sizing: border-box;
}
.admin-boat-view-picture{
    height: 44vh;
    width: 30%;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    background-image: url('https://images.unsplash.com/photo-1610046371606-fa82a77a0035?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9hdCUyMGhvdXNlfGVufDB8fDB8fHww');
    background-size: cover;
    background-position: 30%;
}
.admin-boat-view-data{
    height: 44vh;
    width: 60%;
    background-color: rgb(225, 225, 225);
    border-radius: 20px;
    margin-left: 3%;
    position: relative;
}
.admin-boat-view-info-table{
    width: 100%;
    height: inherit;
    padding: 2vh;
    box-sizing: border-box;
    font-size: 15pt;
}
.admin-boat-view-info-tr{
    width: 100%;
}
.admin-boat-view-info-td{
    width: 100%;
}
.admin-boat-view-info-td:nth-child(odd){
    width: 40%;
}
.admin-boat-view-info-td:nth-child(even){
    width: 60%;
    /* background-color: red; */
}
.admin-boat-view-edit-button{
    height: 5vh;
    width: 10vh;
    border: 0;
    border-radius: 20px;
    position: absolute;
    right: 0;
    margin: 2vh;
    background-color: rgb(187, 187, 187);
}
.admin-boat-view-edit-button{
    cursor: pointer;
}
.admin-boat-view-edit-panel-outer{
    height: 100vh;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-boat-view-edit-panel-box{
    width: 75%;
    background-color: white;
    font-size: 15pt;
    padding: 3vh;
    box-sizing: border-box;
}
.admin-boat-view-edit-panel-close-button{
    font-size: 15pt;
    border:0;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
    float: right;
    cursor: pointer;
    margin-bottom: 2vh;
}
.admin-boat-view-edit-panel-submit-button{
    height: 5vh;
    width: 13vh;
    border: 0;
    background-color: rgb(48, 155, 80);
    font-size: 13pt;
    border-radius: 20px;
    float: right;
    margin-top: 3vh;
    cursor: pointer;
}
.admin-boat-view-edit-panel-table{
    width: 100%;
}
.admin-boat-view-edit-panel-tr{
    width: 100%;
    height: 7vh;
}
.admin-boat-view-edit-panel-td:nth-child(1){
    width: 30%;
}
.admin-boat-view-edit-panel-td:nth-child(2){
    width: 60%;
}
.admin-boat-view-edit-panel-input{
    width: 100%;
    height: 4vh;
    padding: 2vh;
    box-sizing: border-box;
    outline: 0;
}