.admin-all-boats-outer{
    height: 90vh;
    width: 94%;
    overflow-y: scroll;
    background-color: white;
    border-radius: 20px;
}
.admin-all-boats-boat{
    height: 10vh;
    width: 96%;
    margin: 2%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15pt;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(61, 61, 61);
}
.admin-all-boats-boat:hover{
    background-color: rgb(189, 189, 189);
    cursor: pointer;
}
.admin-all-boats-add-boat{
    height: 6vh;
    padding: 1vh;
    box-sizing: border-box;
    font-size: 13pt;
    background-color: rgb(108, 199, 99);
    border: 0;
    cursor: pointer;
    margin-left: 2%;
    margin-top: 3vh;
    border-radius: 20px;
}
.admin-all-boats-boat-delete-button{
    background-color: rgb(198, 69, 69);
    border: 0;
    height: 5vh;
    width: 10vh;
    font-size: 13pt;
    border-radius: 20px;
}