.homepage-outer{
    height: 88vh;
    width: 100%;
}
.homepage-outer{
    display: flex;
    flex-wrap: wrap;
}
.boathouse-s-display{
    height: 88vh;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    transition: 2s;
    padding-top: 5vh;
    box-sizing: border-box;
    position: absolute;
    /* background-color: green; */
    /* margin-left: 25%; */
}
.filter-sidebar{
    width: 20%;
    height: 88vh;
    background-color: #000000;
    transition: 2s;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 1vh;
    box-sizing: border-box;
    position: relative;
}
.filter-sidebar-button{
    height: 84vh;
    width: 20px;
    writing-mode: vertical-lr;
    /* float: right; */
    letter-spacing: 2px;
    margin: 1vh;
    /* margin-right: 1vh; */
}
.filter-contents{
    position: relative;
    height: 84vh;
    width: 90%;
    color:rgb(255, 255, 255);
    background-color: #000000;
    transition: 2s;
    margin-top: 1vh;
}
.filter-contents-calendar{
    height: 5vh;
    width: 90%;
    border-radius: 20px;
    padding: 2vh;
    box-sizing: border-box;
    border: 0;
    outline: none;
}
.filter-content-label{
    display: block;
    margin-top: 2vh;
    margin-bottom: 1vh;
}