.add-boat-house-outer{
    height: 80vh;
    width: 100%;
    padding: 5vh;
    box-sizing: border-box;
    overflow-y: scroll;
}
.add-boat-house-label{
    font-size: 20pt;
}
.add-boat-house-field{
    height: 4vh;
    width: 100%;
    margin-bottom: 2vh;
}