.delete-boat-house-outer{
    height: 80vh;
    width: 100%;
    padding: 5vh;
    box-sizing: border-box;
    /* background-color: red; */
}
.delete-boat-house-field{
    height: 4vh;
    width: 70%;
    margin-bottom: 2vh;
    text-align: center;
    font-size: 15pt;
    display: inline-block;
}
.delete-boat-house-button{
    display: inline-block;
    height: 5vh;
    width: 20%;
    background-color: rgb(174, 33, 33);
    border:0;
    font-size: 15pt;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    float: right;
}
.delete-boat-house-button:hover{
    font-size: 17pt;
}