.your-profile-outer{
    height: auto;
    width: 100%;
    padding: 5vh;
    box-sizing: border-box;
    overflow: scroll;
}
.your-profile-label{
    margin:0;
    font-size: 20pt;
    /* letter-spacing: 2px; */
}
.your-profile-data{
    font-size: 15pt;
    margin-bottom: 4vh;
    width: 90%;
    display: inline-block;
}
.your-profile-data-edit-icon{
    display: inline-block;
    font-size: 15pt;
    cursor: pointer;
    width: 15vh;
    margin: 0;
    float: right;
}
.your-profile-image-dp-container{
    height: 30vh;
    width: 30vh;
    background-color: rgb(185, 185, 185);
    border-radius: 50%;
    margin: 2vh;
    background-size: cover;
}